services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: optin_sqlserver
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    restart: always

  api:
    build: .
    container_name: optin_api
    environment:
      DB_HOST: optin_sqlserver
      DB_NAME: optin_manager
      DB_USER: sa
      DB_PASSWORD: YourStrong!Passw0rd
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    restart: always

volumes:
  sqlserver_data:
